:root{
    font-size: 16px;
}

*{
    padding: 0;
    margin: 0;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

h1{
    font-variant: all-petite-caps;
    display: flex;
    justify-content: center;
    background-color: white;
}

nav{
    margin-top: 1rem;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav>a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    align-items: center;
}

nav>figure>img{
    width: 3rem;
    display: flex;
}

.subtitle{
    font-size: 1rem;
    font-weight: bold;

}


aside{
    width: 20vw;
    border: 1px solid black;
}

main>figure>img{
    width: 30rem;
}

main{
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2rem;
    border: 1px solid black;
}

aside>figure>img{
    width: 10rem;
}

.container-cards{
    display: flex;
    height: 50vh;
    align-items: flex-end;
}

.card{
    display:flex;
    flex-direction: row;
    border: 1px solid black;
    height: 30vh;
}

.card>a{
    text-decoration: none;
    color: black;
}
/* .card>figure{
    display: block;
} */

.img-card{
    width: 10rem;
}

.container-aside-main{
    width: 100vw;
    display: flex;
}