*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    font-size: x-large;
}

h1{
    font-size: 3rem;
}

h2{
    color: white;
    background-color: black;
    text-align: center;
    display: block;
}

nav>a{
    display: block;
}

#navbar{
    /* display: inline-block; */
    line-height: 470%;
    margin-left: 50px;
}


#logo{
    display: block;
}


.schedule{
    font-size: 1rem;
    font-weight: bold;
    margin-top: 50px;
}

.about{
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
}

#contact{
    line-height: 250%;
}

div{
    display: inline-block;
}

.container{
    width: 80%;
}