:root{
    font-size: 16px;
}

*{
    padding: 0;
    margin: 0;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

h1{
    font-variant: all-petite-caps;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 0.5rem;
}
nav{
    margin-top: 1rem;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



nav>a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    align-items: center;
    font-variant: all-petite-caps;
}



nav>figure>img{
    width: 3rem;
    display: flex;
}

#subtitle-home{
    font-size: 1.5rem;
    font-style: italic;
    font-variant: all-petite-caps;
}



/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

.subtitle{
    font-size: 1.5rem;
    font-weight: bold;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

.p-home{
    display: flex;
    flex-direction: column;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}


.main-home {
    font-size: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-about{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}



main > figure > img{
    width: 25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid black;
    box-shadow: 5px 5px;

}

.cards-about{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    height: 100%;
}

/* CARDS */
.card-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7rem;
}

.card{
    border: 2px solid black;
	display: flex;
    justify-content: center;
    border-right: none;
    border-bottom: none;
    box-shadow: 5px 5px 5px;
}

.home-img{
    /* border: 2px solid black; */
	display: flex;
    justify-content: center;
    border-right: none;
    border-bottom: none;
    /* box-shadow: 5px 5px 5px; */
}


.card > a{
    text-decoration: none;
}

.img-card-1{
    display: inline-block;
    width: 17rem;
}


.img-card{
    display: inline-block;
    width: 18rem;
}

.img-card-3{
    display: inline-block;
    width: 19.05rem;
}


.card-info{
    display: block;
    text-align: center;
    /* width: 30rem; */
    text-decoration: none;
    color: black;
}


.container-aside-main{
    width: 95vw;
    display: flex;
}
/* ------------------------------------------------Active Button------------------------------------------------------------------------------------- */


.home-verde{
    font-size: 2rem;
}

.about-verde{
    font-size: 2rem;
}

.contact-verde{
    font-size: 2rem;
}

.game-verde{
    font-size: 2rem;
}

.rules-verde{
    font-size: 2rem;
}

.registration-verde{
    font-size: 2rem;
}

/* ------------------------------------------------Rules--------------------------------------------------------------------------------------------- */

dl{
    list-style-position: inside;
    display: flex;
    flex-direction: column;
}

li > ol{
    list-style-type: lower-alpha;
}


/* Rules of Play & Policies */

h2{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    line-height: 3rem;
    font-size: 1.7rem;

}

/* Subtitulo */

#p-subtitle{
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1.3rem;
}


/* Contenedor */

#rules{
    width: 100%;
    height: 100%;
    line-height: 1.5rem;

}

#rules > div{
    margin: 1.5rem 3rem 6rem 3rem;
}

dl > dt{
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ordered-list-t{
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1.3rem;
}


ul{
    list-style-type: circle;
    margin-left: 3rem ;
}

dd{
    font-size: 1.2rem;
}

.p-list{
    font-size: 1.2rem;
    font-weight: lighter;

}

.ordered-list-3{
    font-weight: lighter;
}

/*---------------------------------------------------- ABOUT -----------------------------------------------------------------------------------*/

.container-about{
    display: flex;
    width: 60%;
    height: 100%;
    line-height: 2rem;
    flex-direction: column;
    align-items: center;
}


.container-about > h3{
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 3rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    font-variant: all-petite-caps;


}

.container-about > p{
    font-size: 1.3rem;
    line-height: 2rem;
    margin-top: 2rem;
}




.img-card-about{
    display: inline-block;
    width: 30rem;
}


/*--------------------------------------- CONCTACT ---------------------------------------------------------------------------------------------*/

#section-contact{
    margin-top: 2rem;
    font-size: 1.6rem;
    line-height: 6rem;
    font-style: italic;
}

.card-container-contact > .card{
    border: 2px solid black;
    display: block;
    border-right: none;
    border-bottom: none;
    box-shadow: 5px 5px 5px;
    margin-top: 4rem;
    width: 30rem;
}

.card-container-contact{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/*------------------------------------------ TABLE ---------------------------------------------------------------------------------------------*/


div > table,th, tr, td{
    border: 1px solid black;
}

tr > th{
    width: 17rem;
    height: 2rem;
    text-align: center;
}

tr > td{
    height: 3rem;
    text-align: center;
}

.p-table{
    width: 40rem;
    margin-top: 1.5rem;
    line-height: 2rem;
}

.p-table2{
    width: 40rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

#title-game{
    margin-top: 1rem;
}

table > caption{
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: start;
}

.card-info-contact{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 2.5rem;
    font-style: italic;
}

.img-card-contact{
    display: inline-block;
    width: 30rem;
}

.main-info{
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: space-evenly;
}

/*----------------------- REGISTRATION ------------------------------------*/

#h1{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.h2{
    font-size: 1.2rem;
    font-weight: bold;
}

fieldset{
    border: none;
    line-height: 2rem;

}

form{
    gap: 2rem;
    width: 100%;
    height: 100%;
    max-width: 56.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


label > input{
    border-top: none;
    border-right: none;
    border-left: none;
}

label > #fname, #lname{
    width: 13.25vw;
}

label > #address{
    width: 33vw;
}

label > #city, #zip-code{
    width: 16.5vw;
}

label > #birth-date{
    width: 7vw;
}

label > #full-name{
    width: 22rem;
}

label > #permission-date{
    width: auto;
}

form > input {
    height: 3rem;
    margin-bottom: 2rem;
}

input{
    font-size: 1rem;
}


.maps{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    align-self: stretch;
    margin-top: 1rem;
}

.map{
    width: 34rem;
    height: 6.12rem;
}

/*------------------------ MEDIA QUERIES / Home -------------------------------- */


@media only screen and (min-width: 320px) and (max-width: 479px) {
    :root{
        font-size: 14px;
    }
    h1{
        font-size: 1.4rem;
    }
    nav{
        display: none;
    }
    div{
        width: 100%;
    }
    figure{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .home-img{
        width: 90%;
    }
    #subtitle-home{
        font-size: 1.2rem;
    }
    .card{
        width: 90%;
    }
    .img-card-1, .img-card, .img-card-3{
        width: 100%;
    }
    .card-container{
        gap: 2rem;
        margin-bottom: 1rem;
    }
    .p-home{
        line-height: 2rem;
        align-items: center;
        text-align: center;
    }    
    .subtitle{
        font-size: 1.1rem;
    }

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    :root{
        font-size: 14.5px;
    }
    .home-verde{
        font-size: 1.3rem;
    }
    nav > a{
        font-size: 0.9rem;
        color: black;
    }
    nav{
        background-color: white;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {

}

@media only screen and (min-width: 960px) and (max-width: 1023px) {

}

@media only screen and (min-width: 1024px) and (max-width: 1323px) {

}
